<main class="main-content my-gap">
  <div class="restaurant-grid">
    <div class="restaurant-card" *ngFor="let restaurant of restaurantList">
      <div class="restaurant-image">
        <!-- <img
          [src]="'assets/restaurants-pics/paul/' + getRandomImage()"
          alt="Restaurant 1"
        /> -->
        <img
          [src]="getRestaurantImagePath(restaurant)"
          alt="Restaurant Image"
        />
      </div>
      <div class="restaurant-details">
        <h3 class="restaurant-name">{{ restaurant.name }}</h3>
        <div class="restaurant-rating">
          <div class="rating">
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
            <span class="star">&#9733;</span>
          </div>
          <div class="restaurant-location">
            <img
              class="ml-1.5 color-secondary small-icon"
              src="assets/map.svg"
              alt="Map icon"
            />
            <div class="address">{{ restaurant.address }}</div>
          </div>

          <!-- <span class="rating-count">(500+)</span> -->
        </div>

        <button
          class="order-btn"
          *ngIf="restaurant.id"
          (click)="onButtonClick(restaurant.id)"
        >
          Order
        </button>
      </div>
    </div>
  </div>
</main>
