<main class="main-content my-gap">
  <div class="restaurant-grid">
    <div class="restaurant-card" *ngFor="let restaurant of restaurantList">
      <div class="restaurant-image">
        <!-- <img
          [src]="'assets/restaurants-pics/paul/' + getRandomImage()"
          alt="Restaurant 1"
        /> -->
        <img [src]="getRestaurantImagePath(restaurant)" alt="Restaurant Image" />

      </div>
      <div class="restaurant-details">
        <h3 class="restaurant-name">{{ restaurant.name }}</h3>
        <div class="restaurant-rating">
          <span class="rating"><i class="fa fa-star"></i>4.5</span>
          <span class="rating-count">(500+)</span>
        </div>

        <button
          class="order-btn"
          *ngIf="restaurant.id"
          (click)="onButtonClick(restaurant.id)"
        >
          Order
        </button>
      </div>
    </div>
  </div>
</main>
